<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <remove name="umbracoDbDSN" />
<add name="umbracoDbDSNadfsadfsdfsafd" connectionString="server=server30.hostfactory.ch,1435;database=umb-Dreadhorn-local;user id=umb-Dreadhor_usr;password='8evaQY8yWUNY8AWu'" providerName="System.Data.SqlClient" />

<add name="umbracoDbDSN" connectionString="server=server30.hostfactory.ch,1435;database=umb-Dreadhorn-local;user id=umb-Dreadhor_usr;password='8evaQY8yWUNY8AWu'" providerName="System.Data.SqlClient" /></connectionStrings>