<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <remove name="umbracoDbDSN" />
	<add name="umbracoDbDSN-local" connectionString="server=server30.hostfactory.ch,1435;database=umb-Dreadhorn-local;user id=umb-Dreadhor_usr;password='8evaQY8yWUNY8AWu'" providerName="System.Data.SqlClient" />
	<add name="umbracoDbDSN-web" connectionString="server=server30.hostfactory.ch,1435;database=umb-Dreadhorn-mut;user id=umb-Dreadhorn_u;password='ZEGaJyREgUrUQa2y'" providerName="System.Data.SqlClient" />
</connectionStrings>